/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 70%;
    margin: 0 auto;

}

.blue-bg {
    background-color: blue;
}

.white-bg {
    background-color: white;
}

.gray-bg {
    background-color: gray;
}

.dark-bg {
    background-color: rgba(10, 2, 2, 0.719);
}

/* HEADER */
.header {
    background-color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;

}

.flex-header {
    background-color: orange;
    display: flex;


    justify-content: space-between;
    /* align-items: center; */
}

.logo {
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: 20%;
    padding: 5px;

}

.navigation {
    border: 2px solid black;
    width: 60%;
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.login {
    border: 2px solid black;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.login button {
    background-color: orange;
    border: none;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    margin-right: 10px;
}

/* MAIN */
/* non so come dare lo stesso padding ai felx-container
 in modo da averli tutti equidistanti dalle section */
section {
    /* DEBUG */
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pink-container {
    background-color: palevioletred;
    width: 60%;
    /* DEBUG */
    min-height: 300px;
    margin: 30px 0;
}

.flex-container {
    display: flex;
    align-items: center;

}

.col-40 {
    background-color: pink;
    width: 40%;
    height: 300px;
}

.col-60 {
    background-color: rgba(21, 192, 223, 0.719);
    width: 60%;
    height: 300px;
}

.green-container {
    height: 600px;
    background-color: green;
    margin: 30px 0;

}

/* FOOTER */
.footer {
    min-height: 500px;
}

.flex-footer {
    display: flex;
    padding: 5px 0 20px 0;


}

.col-big {
    background-color: pink;
    width: 30%;
    min-height: 300px;

}

.col-small {
    background-color: rgb(62, 208, 228);
    min-height: 300px;
    width: 17.5%;
    background: 2px solid black;
}

.footer2 {
    border: 2px solid gray;
}

.flex-footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    min-height: 30px;
    margin-top: 10px;
}

.btn-footer {
    background-color: pink;
    border: 1px solid black;
}